/* Extra Small To Medium */

@media (min-width: 0px) and (max-width: 991px) {
    /* Navbar Section Start */
    .navbar {
        height: 80px;
        position: relative;
        z-index: 1;
    }
    .navbar .nav-link {
        background: rgba(0, 0, 0, .6);
        margin-bottom: 2px;
        padding-right: 10px;
        /* display: inline-block; */
        width: 25%;
        margin-left: auto;
    }
    /* Navbar Section End */
    /* about us section start */
    .content-item h3 {
        font-size: 16px;
    }
    /* about us section end  */
} 


/* Medium To Large */

@media (min-width: 991px) and (max-width: 1200px) {
    .content-item h3 {
        font-size: 20px;
    }
}